.character-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.character-grid .character-card{
  text-align : center;
}

.character-grid .character-name{
  text-align : center;
}

.character-grid .character-card .img-responsive{
  width: 100%;
  max-width: 200px;
  height: auto;
}

.btn {
  height: 40px;
  min-width: 100px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color : blueviolet;
}

.btn:disabled {
  background-color : gray;
}

.nav-button {
  text-align : center;
}

.nav-button .btn {
  margin: 20px 5px;
}




